* {
 font-family: 'Pumpkin' !important;
}

.primary {
  color: #000040 !important;}

.secondary {
  color: #c0c0c0 !important;}

.primary-btn {
  background-color: #000040 !important;}

.secondary-btn {
  background-color: #c0c0c0 !important;}