.header-top{
    background-color: #f15a25;
    text-align: center;
    padding: 10px;
   position: relative;

}

.header-top::before{
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 height: 2px;
 width: 100%;
 background-color: #165737;
}
.header-top p{
    color: #165737;
    font-size: 14px;
    font-style: italic;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #f15a25;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    margin-right:30px;
}

.navbar ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}